html {
    --alice-bg-color: rgb(249, 245, 232);
    --alice-title-color: #0079D2;
    --alice-font-color: rgb(102, 55, 24);
    --alice-important-color: rgb(162, 42, 42);
    color: rgb(102, 55, 24);
    /*font-size: 16px;*/
    font-family: "Helvetica";
}

h1 {
    margin-top: 1.2em;
    margin-bottom: 0.6em;
    line-height: 1.35;
    font-size: 2.25em;
}

h1,
h2,
h3,
h4 {
    color: #0079D2;
}

strong {
    color: #a22a2a;
    font-weight: bold;
}

p {
    font-size: 1em;
    color: rgb(102, 55, 24);
}

code {
    color: #f14f75;
    padding: 0 5px;
    margin: 0 2px;
    border-radius: 5px;
    background: rgb(255, 255, 255, 0);
    font-size: 1em;
}

epub-code {
    color: #f14f75;
    padding: 0 5px;
    margin: 0 2px;
    border-radius: 5px;
    font-size: 1em;
}

pre {
    background: rgba(235, 235, 235, 0.35);
    white-space: pre-wrap;
    font-size: 0.8em !important;
}

.CodeMirror {
    box-sizing: border-box;
    margin: 1.6em 0;
    padding: 0.4em 0 0.4em 1.2em;
    border-left: 4px solid #16b0ff;
    min-height: 20px;

}

.CodeMirror.cm-s-inner {
    background-color: #fff;
}

img {
    border-radius: 1em;
}

li {
    color: #059CEF;
}

li span {
    color: #535277;
}

h1 {
    font-size: 1.45em;
}

h2 {
    font-size: 1.35em;
}

h3 {
    font-size: 1.2em
}

h4 {
    font-size: 1.15em;
}

h5 {
    font-size: 1.1em;
}

h6 {
    font-size: 1em
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

h2,
h3 {
    line-height: 1.5em;
    margin-top: 1.8em;
    margin-bottom: 0.5em;
}

hr {
    margin: 38px 0;
    border: none;
    border-bottom: 1px dashed rgba(205, 205, 205, 0.35);
    color: rgba(205, 205, 205, 0.35);
    height: 1px;
    line-height: 1px;
    overflow-y: hidden;
}

.md-toc {
    border-radius: 5px;
    border: 1px solid;
    margin: 27px 0 47px 0;
    padding: 10px 0;
}

a {
    margin: 0 2px;
    color: #d14508;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

blockquote {
    box-sizing: border-box;
    margin: 1.6em 0;
    padding: 0 0 0 1.2em;
    border-left: 4px solid #16b0ff;
    color: #888888;
    min-height: 20px;
}


table {
    width: 100%;
    font-size: 1.125rem;
}

table>thead>tr>th,
table>thead>tr>td,
table>tbody>tr>th,
table>tbody>tr>td,
table>tfoot>tr>th,
table>tfoot>tr>td {
    padding: 12px;
    line-height: 1.2;
    vertical-align: top;
    border-top: 1px solid rgb(102, 55, 24);
}

table tbody {
    border-bottom: 2px solid rgb(102, 55, 24);
}

table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid rgb(102, 55, 24);
}

table>caption+thead>tr:first-child>th,
table>caption+thead>tr:first-child>td,
table>colgroup+thead>tr:first-child>th,
table>colgroup+thead>tr:first-child>td,
table>thead:first-child>tr:first-child>th,
table>thead:first-child>tr:first-child>td {
    border-top: 0;
}

table>tbody+tbody {
    border-top: 2px solid rgb(102, 55, 24);
}